.background,
.background * {
  box-sizing: border-box;
}
.background {
  background: #ffffff;
  height: 76px;
  position: sticky;
}
.logo-663-b-61-a-0-webp {
  width: 151px;
  height: 36.67px;
  position: absolute;
  left: 360px;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
  object-fit: cover;
}
.background-border {
  background: #ffffff;
  border-radius: 32px;
  border-style: solid;
  border-color: #cacaca;
  border-width: 1px;
  width: 220px;
  height: 40px;
  position: absolute;
  left: 527px;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.icon-search {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 17px;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.image-fill {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.image {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.input {
  background: #ffffff;
  height: 21.59px;
  position: absolute;
  right: 17px;
  left: 45px;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.container {
  height: 17px;
  position: absolute;
  right: 2px;
  left: 2px;
  top: 2px;
  overflow: hidden;
}
.t-m-ki-m-t-n-chi-n-d-ch {
  color: #a8a8a8;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  letter-spacing: -0.14px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 154.27px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container2 {
  width: 72.08px;
  height: 24.63px;
  position: absolute;
  right: 966.01px;
  top: 50%;
  translate: 0 -50%;
}
.ng-h {
  color: #626262;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: absolute;
  left: 0px;
  top: 3px;
  width: 48.43px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.svg {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 48.07px;
  top: 0.62px;
  overflow: visible;
}
.container3 {
  width: 79.13px;
  height: 24.63px;
  position: absolute;
  right: 846.89px;
  top: 50%;
  translate: 0 -50%;
}
.g-y-qu {
  color: #626262;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: absolute;
  left: 0px;
  top: 3px;
  width: 55.5px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.svg2 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 55.13px;
  top: 0.62px;
  overflow: visible;
}
.container4 {
  width: 91.2px;
  height: 24.63px;
  position: absolute;
  right: 715.69px;
  top: 50%;
  translate: 0 -50%;
}
.kh-m-ph {
  color: #626262;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: absolute;
  left: 0px;
  top: 3px;
  width: 67.5px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.svg3 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 67.2px;
  top: 0.62px;
  overflow: visible;
}
.container5 {
  width: 87.05px;
  height: 24.63px;
  position: absolute;
  right: 588.64px;
  top: 50%;
  translate: 0 -50%;
}
.gi-i-thi-u {
  color: #626262;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: absolute;
  left: 0px;
  top: 3px;
  width: 64.03px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.svg4 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 63.05px;
  top: 0.62px;
  overflow: visible;
}
.button {
  background: linear-gradient(
    89.7deg,
    rgba(255, 108, 87, 1) 0%,
    rgba(255, 146, 46, 1) 100%
  );
  border-radius: 11px;
  width: 120px;
  height: 32px;
  position: absolute;
  left: 1355.36px;
  top: 50%;
  translate: 0 -50%;
}
.t-o-chi-n-d-ch {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 22.4px;
  letter-spacing: -0.14px;
  font-weight: 600;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 6.8px;
  width: 97.62px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container6 {
  width: 72.64px;
  height: 19.59px;
  position: absolute;
  left: 1487.36px;
  top: 50%;
  translate: 0 -50%;
}
.ng-nh-p {
  color: #626262;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 19.6px;
  font-weight: 500;
  position: absolute;
  left: 0px;
  top: 1px;
  width: 72.95px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
